
    <mat-toolbar>
        <a routerLink="."><img src="assets/img/money.png"/></a>
        <a>支出管理アプリ</a>
    </mat-toolbar>
    <div id="login">
        <h1><img src="assets/img/Cost Manager.png"/></h1>
        <form #form="ngForm" (ngSubmit)="login(userId,password)">
            <p>User Name</p>
            <input [(ngModel)]="userId"  type="userId" name="userId" class="form-control" placeholder="ユーザIDを入力">
            <p>Pass Word</p>
            <input [(ngModel)]="password"  type="password" name="password" class="form-control" placeholder="パスワードを入力">
            <br>
            <br>
            <button type="submit" mat-raised-button color="primary">ログイン</button>
        </form>
    </div>



