<mat-toolbar>
    <a routerLink="."><img src="assets/img/money.png"/></a>
    <a>支出管理アプリ</a>
</mat-toolbar>
<div id="passwordChange">
    <form #form="ngForm" (ngSubmit)="passChange(prevPassword,nextPassword)">
        <p>現在のパスワード</p>
        <input [(ngModel)]="prevPassword"  type="prevPassword" name="prevPassword" class="form-control" placeholder="変更前パスワードを入力">
        <p>変更後パスワード</p>
        <input [(ngModel)]="nextPassword"  type="nextPassword" name="nextPassword" class="form-control" placeholder="変更後パスワードを入力">
        <br>
        <br>
        <table>
            <tr>
                <th><button type="submit" mat-raised-button color="primary">変更</button></th>
                <th><button  mat-raised-button color="primary" routerLink="/mainMenu">メインメニューへ戻る</button> </th>
            </tr>
        </table>
    </form>

</div>