.inputForm {
    background-color: #eeeeee;
    min-height: 240px;
    background-repeat: no-repeat;
    padding: 100px;
    margin:5px;
    width:20%;
    height:30%;
  }

  table {
    color: rgb(0, 0, 0);
    border: solid 1px rgb(10, 0, 0);
    text-align: left;
    }
  mat-toolbar {
    background-color:#333333;
    color: rgb(255, 255, 255);
  }